<header>
    <nav class="header-nav">
      <a class="header-title" href="/">Abra Cadabra</a>
      <ul>
        <li><a href="/agents">Agents</a></li>
        <li><a href="/agents/new">Add Agent</a></li>
        <li><a href="/houses">Houses</a></li>
       <li><a href="/houses/new">Add House</a></li>
      </ul>
    </nav>
  </header>