<h2 class="page-header">Search House</h2>

<form action="/houses" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Location</label>
      <input type="text" name="location" value="<%= searchOptions.location %>">
    </div>
  </div>

  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>  
</form>
<br>
<%- include('../partials/houseGrid', { houses: houses, large: true }) %>